extends layout

block content
  link(rel="stylesheet", href="stylesheets/index.css")

  .container
    .content-container
      .photosUp
        img(src="images/ej1.jpg", class="photo photo1")
        img(src="images/ej2.jpg", class="photo photo2")
        img(src="images/ej3.jpg", class="photo photo3")
      .fotaza
        img(src="images/fotaza.png", class="fotazaImg")
      .photosBottom
        img(src="images/ej4.jpg", class="photo photo4")
        img(src="images/ej5.jpg", class="photo photo5")
        img(src="images/ej6.jpg", class="photo photo6")

    .form-container
      h2 Login
      form(action="/auth/login", method="post")
        input(type="text", name="UserName", placeholder="UserName")
        br
        input(type="password", name="Password", placeholder="Password")
        br
        input(type="submit", value="Login", class="button")
      
      h2 Sign Up
      form(action="/auth/registrar", method="post", id="signup-form")
        input(type="text", name="UserName", placeholder="Username")
        br
        input(type="password", name="Password", placeholder="Password")
        br
        input(type="email", name="Email", placeholder="Email")
        br
        input(type="submit", value="SignUp", class="button")
      .log-social
        img(src="icons/facebook.png", alt="", class="socialLoggin")
        img(src="icons/google.png", alt="", class="socialLoggin")
        img(src="icons/github.png", alt="", class="socialLoggin")

  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script.
    $(document).ready(function() {
      $("#signup-form").submit(function(event) {
        event.preventDefault();

        $.ajax({
          type: "POST",
          url: $(this).attr("action"),
          data: $(this).serialize(),
          dataType: "json",
          success: function(response) {
            alert(response.message);
            window.location.href = "/index";
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
    })
