extends layout

block content

    link(rel="stylesheet", href="stylesheets/perfil.css")

    .container-perfil 
        img(src="images/perfil.jpg", alt="", class="img-perfil")
        h2 soy un nombre de usuario
        br
        .datos-personales 
            h4 Nombre: Paco
            h4 Apellido: Perez
        br
        h3 Intereses 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel egestas dolor, nec dignissim metus. Donec augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra. Donec vel egestas dolor, nec dignissim metus. Donec augue elit, rhoncus ac sodales id, porttitor vitae est. Donec laoreet rutrum libero sed pharetra. Duis a arcu convallis, gravida purus eget, mollis diam.

    br

    h2 Mis Fotos 
    .container-fotos 
        p Agregar imagnes por codigo