extends layout

block content

    link(rel="stylesheet", href="stylesheets/principal.css")

    .cabecera 
        p barra buscadora de uusarios 
        p filtor de ategorias 
        p enlace a mi perfil

    .container
        h3 titulo
        .datos
            p Autor
            p ranking 
        .datos 
            p fecha 
            p hora  
        img(src="images/perfil.jpg", alt="")
        .comentarios 
            img(id="img-perfil-comentario", src="images/perfil.jpg", alt="")
            p el comenatrio
