
.container-perfil{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}



.img-perfil{
    height: 200px;
    width: 200px;
    border-radius: 25%;
}

.datos-personales{
    display: flex;
    flex-direction: row;

}

h4{
    margin-left: 10px;
    margin-right: 10px;
}

#intereses{
    width: 50%;
}

.container-fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#linkPrincipal{
    color: white;
    text-decoration: none;
}

#linkPrincipal:visited{
    color: white;
    text-decoration: none;
    
    
}

#linkPrincipal:hover{
    color: rgb(190, 167, 167);
}



.datos-Row{
    width: 100%;
}

.datos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

.foto-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comentarios{
    display: flex;
    flex-direction: row;
    border-style: solid;
}

img{
    width: 100%;
    height: 100%;
}