body{
    margin: 0px;
    padding: 0px;
    padding-top: 5vh;

}

p {
    word-break: break-all;
  }

.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3498db;
    position: fixed;
    top: 0;
  
    width: 100%;
    height: 5vh;
 

}

#chat-salir{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listaPerfiles{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color:transparent;
    position: fixed;
    top: 5vh;
    width: 100%;
    height: 30vh;
 

}

.div-lista{
    width: 20%;
    height: inherit;
}

.div-nada{
    width: 20%;
    height: inherit;
}

.div-mensajes{
    display: flex;
    width: 20%;
    height: inherit;
}
.paraBarra{
    width: 75%;
    overflow-y: scroll;
    overflow-x: hidden; 
    max-height: 100%;
}

#paraBarraMensajes{
    height: fit-content;
}
.item-lista{
  width: 100%;
  height: 100%;
  background-color: transparent;
  height: max-content;
  padding-left: 20px;
  border: black 1px solid;
  border-top: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  
}

.item-lista-uno{
    width: 100%;
    height: 100%;
    background-color: transparent;
    height: max-content;
   
    border: black 1px solid;
    border-top: none;
    display: flex;
    flex-direction: row;
    justify-content: start;
    
  }

.item-lista-otro{
    width: 100%;
    height: 100%;
    background-color: transparent;
    height: max-content;
    padding-left: 20px;
    border: black 1px solid;
    border-top: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    
  }


      
      
.div-nada{
    width: 40%;
}
      

.div-mensajes{
    width: 20%;
}



.div-cabecera{
    width: 20%;
}

#filtroCategoria{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#buscaUsuario{
    border-radius: 25px;
    height: 60%;
    width: 75%;
    padding-left: 20px;
    
}

.filtro{
    border-radius: 25px;
}

#linkPerfil{
    color: white;
    text-decoration: none;
}


#linkPerfil:visited{
    color: white;
    text-decoration: none;
    
    
}

#linkPerfil:hover{
    color: rgb(190, 167, 167);
}

#linkSalir{
    color: white;
    text-decoration: none;
}


#linkSalir:visited{
    color: white;
    text-decoration: none;
    
    
}

#linkSalir:hover{
    color: rgb(190, 167, 167);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.datos-Row{
    width: 100%;
}

.datos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
    
}

.foto-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comentarios{
    display: flex;
    flex-direction: row;
    border-style: solid;
    width: 80%;
}

img{
    width: 100%;
    height: 100%;
}

.img-perfil-comentario{
    display: inherit;
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

details{
    display: contents;
}

.agregar-comentario{
    display: flex;
    width: 80%;
}
    
#n-comentario{
 width: 85%;
}

#btn-subir{
   
    width: 15%;
}

.form-comentario{
    display: contents;
}

.estrellasCont{
    display: flex;
    
}
.estrellas{
    display: flex;
    width: 25px;
    height: 25px;
    border: black solid;
    border-radius: 25%;
    padding: 2px;
}
.estrellas:hover{
    width: 27px;
    height: 27px;
    border: black solid;
    border-radius: 25%;
    padding: 2px;
    /*background-color: goldenrod;    usa este color*/
}

.estrellaSelected{
    background-color: goldenrod;
   
}

#subirFoto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 100%;
}

#fotoAsubir{
    width: 50%;
    margin-bottom: 15px;
}

.nfoto{
    display: flex;
    justify-content: center;
    margin-top: 25px;

}

.subirFotoContainer{
    border: thistle solid;
    margin-top: 30px;
    padding-bottom: 5px;
}

.etiquetasMostrar{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.restoEtiquetas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
    margin-left: 20px;

}

.etiquetaKeyword{
    margin-right: 10px;
}
.etiqueta1{
    margin-right: 10px;
}

.etiqueta2{
    margin-right: 10px;
}

.etiqueta3{
    margin-right: 10px;
}


.divChat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.imgChatCont :hover{
   
    background-color:#78c0f0 ;
    
}
#imgChat{
    width: 3vh;
    height: 3vh;
}

.cantMensajes{
    width: 3vh;
    height: 2vh;
    background-color: rgb(94, 238, 94);
    border-radius: 25px;
    display: flex;
    font-size: 10px;
    justify-content: center;
}

.img-perfil-chat{
    width: 4vh;
    height: 4vh;
}

.item-lista:hover{
    background-color: #dae9f3;
}

.foto-perfil-busqueda{
    width: 4vh;
    height: 4vh;}